/**
 * index.scss
 * - Add any styles want here!
 */
body {
  background: #FFB6C1;
}

div.a {
  text-align: center;
}

div.b {
  text-align: justify;
}

p {
  margin-right: 150px;
  margin-left: 150px;
}
